.none .nav__menu {
   display: none;
   gap: 3.5rem;
}


.confident{
    padding: 10rem 0;
    background: var(--color-light);
    background: transparent;
    transition: var(--transition);
}

.confident h2{
    text-align: center;
    text-transform: uppercase;
 }

 .confident h4{
    text-align: center;
    margin-top: revert;
 }

 .confident p{
   padding: 22px;
   text-align: justify;
}

.confident a{
    border-radius: 68px;
    /* margin-left: 371px; */
    text-align: center;
    padding: 22px;
    font-weight: 900;
    background: var(--color-primary);
 }