header {
    padding: 8rem 0;
    margin-top: 0rem;
    /* background: var(--color-white);
    transition: var(--transition); */

}

.header__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 12%;
}

.header__container p {
   margin-top: 15px;
   width: 35rem;
   text-align: justify;
}
.header__cta {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    gap: 0px;
}

.header__profile {
    width: 100%;
    /* border-radius: 145px; */
    overflow: hidden;
}

.header__skills {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 40px;
}

.header__skills a {
    width: 1.8rem;
    aspect-ratio: 1/1;
    background: var(--color-light);
    color: var(--color-black);
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-3);
    font-size: x-large;
}

.header__skills a:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transform: translateX(-0.5rem);
} 


@media (max-width: 870px) {
    .header__container {
        display: block;
        flex-direction: column;
        /* margin: 0;
        padding: 63px; */
    }
     

    .header__profile {
        width: 14rem;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 18px;    
}
    
   
    .header__container p {
        padding: 1px;
        width: auto;
    }

    .header__cta {
        display: flex;
        flex-wrap: wrap;
        padding: 6px;
        gap: 2px;
    }

    .header__skills {
        padding: 15px;
    }
}